.container
    .row
        .col-md-7
            .panel.panel-primary
                .panel-heading.text-center Video Directive Id =  {{videoItem.videoId}}
                .panel-body
                    .row
                        .col-md-12
                            div(id='playerDiv')