.container
    .row
        .col-md-7
            .panel.panel-primary
                .panel-heading.text-center Video Directive Id =  {{video}}
                .panel-body
                    .row
                        .col-md-12
                            div(id="youtubeplayer-temp")
                            ytsubscribe(subscriber="GoogleDevelopers")

