doctype
html
    head
        title Youtube Test Player
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
        link(rel="stylesheet", href="/css/site.css")
    body
        block main-content
        include scripts